<div class="content-header">
  <h2>Select petition and give your vote!</h2>
</div>
  <table>
    <tr>
      <th>Title</th>
      <th>Signatures</th>
    </tr>

    <% @petition.each do |petition| %>
        <tr>
          <td><%= petition.title %></td>
          <td><%= petition.vote %></td>
          <td><%= link_to 'Select', petition %></td>
        </tr>
    <% end %>
  </table>


