<div class="content-header">
  <h1>Welcome to Petition site!</h1>
</div>

<div class="content-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at iaculis urna, non dapibus nulla. Vestibulum nec
    faucibus libero. Praesent iaculis auctor diam ac faucibus. Sed malesuada elementum mauris vel eleifend. Etiam eget
    dui vitae ante laoreet mattis vel sed tellus. Nam metus ante, suscipit pretium nunc in, gravida iaculis nibh. Nullam
    iaculis pulvinar leo, sit amet eleifend diam euismod in. Mauris quis lacus non nunc sodales facilisis ac nec nunc.
    Quisque mattis aliquam facilisis. Proin massa erat, rhoncus eu aliquet eu, pretium quis ipsum. Pellentesque eu massa
    sem. Suspendisse in nisi eu leo rutrum molestie sed in nunc. Donec elementum vestibulum lorem at pulvinar. Morbi ac
    turpis ac erat rutrum ultricies. Cras pulvinar mattis metus. Nullam euismod nisl a volutpat vulputate.

  </p>
  <%= image_tag 'sign.png' %>

</div>
<div class="content-left">
  <h3>Here you can change the world and make petitions!</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at iaculis urna, non dapibus nulla. Vestibulum nec
    faucibus libero. Praesent iaculis auctor diam ac faucibus. Sed malesuada elementum mauris vel eleifend. Etiam eget
    dui vitae ante laoreet mattis vel sed tellus. Nam metus ante, suscipit pretium nunc in, gravida iaculis nibh. Nullam
    iaculis pulvinar leo, sit amet eleifend diam euismod in. Mauris quis lacus non nunc sodales facilisis ac nec nunc.
    Quisque mattis aliquam facilisis. Proin massa erat, rhoncus eu aliquet eu, pretium quis ipsum. Pellentesque eu massa
    sem. Suspendisse in nisi eu leo rutrum molestie sed in nunc. Donec elementum vestibulum lorem at pulvinar. Morbi ac
    turpis ac erat rutrum ultricies. Cras pulvinar mattis metus. Nullam euismod nisl a volutpat vulputate.

    Nulla scelerisque non justo feugiat molestie. Etiam quam sem, gravida non eros at, varius congue est. Suspendisse
    posuere ipsum sit amet nibh gravida feugiat. Duis vel lorem magna. Proin vestibulum, enim eu bibendum aliquam, est
    turpis rutrum quam, sit amet tristique velit quam sed nisl. Aenean dapibus, ipsum nec ultricies scelerisque, odio
    diam tristique sem, a porta felis mi vel dui. Quisque est libero, facilisis at magna eu, porta eleifend leo. Nulla
    rutrum ante vitae dui vestibulum consectetur. Nam rhoncus leo a lectus porttitor tempor. Quisque tincidunt magna sed
    lacus tempor molestie. In condimentum orci lorem, a pharetra risus ultricies non. Sed iaculis posuere placerat.</p>
</div>